<section class="auth-detail">

    <div class="auth-detail__banner container">

        <div class="author">
            <figure class="author__figure">
                <img [src]="collection.authorImg" class="author__img" alt="">
            </figure>

            <div class="author_details">
                <h5 class="author__h5">{{ collection.author }}
                    <i class='bx bxs-badge-check author__i'></i>
                </h5>
            </div>
        </div>

    </div>

    <div class="auth-filters container">

        <div class="auth-items">
            <p class="auth-items__p">ITEMS:</p>
            <p class="auth-items__p">220</p>
        </div>

        <div class="auth-menu">

            <div class="auth-menu__a" (click)="authDropdown()">Price low to high
                <i class='bx bx-chevron-down auth-menu__i'></i>
            </div>

            <ul class="auth-dropdown__ul auth-dropdown" [ngClass]="{ 'auth-dropdown-activo' : active }">
                <li class="auth-dropdown__li">
                    <a href="#" class="auth-dropdown__a">Price high to low</a>
                    <a href="#" class="auth-dropdown__a">Most view</a>
                    <a href="#" class="auth-dropdown__a">Ending soon</a>
                </li>
            </ul>


        </div>
    </div>

    <div class="auth-content">

        <div class="auth-aside container">

            <ul class="auth-status auth-section">
                <li class="auth-title">
                    <h4 class="auth-title__h4" (click)="statusBtn()">Status
                        <i class='bx bx-chevron-down auth-title__i'></i>
                    </h4>


                    <ul class="aside-dropdown" [ngClass]=" {'aside-dropdown__activo' : statusActive} ">
                        <li class="aside-dropdown__li">
                            <label for="buyNow" class="aside-dropdown__label">Buy Now
                                <input type="checkbox" id="buyNow" class="aside-dropdown__input">
                                <div class="aside-dropdown__checkbox"></div>
                            </label>
                        </li>

                        <li class="aside-dropdown__li">
                            <label for="onAction" class="aside-dropdown__label">On Auction
                                <input type="checkbox" id="onAction" class="aside-dropdown__input">
                                <div class="aside-dropdown__checkbox"></div>
                            </label>

                        </li>
                    </ul>
                </li>

                <li class="auth-title">
                    <h4 class="auth-title__h4" (click)="priceBtn()">Price
                        <i class='bx bx-chevron-down auth-title__i'></i>
                    </h4>



                    <ul class="aside-dropdown" [ngClass]=" {'aside-dropdown-prices__activo' : priceActive } ">
                        <li class="aside-dropdown__li">
                            <form autocomplete="off" [formGroup]="formPrices" (ngSubmit)="save()" class="aside-form">

                                <div class="aside-form__content">

                                    <div class="aside-form__combo">
                                        <select name="formCurrency" id="" class="aside-form__combobox">
                                            <option value="USD">USD</option>
                                            <option value="ETH">ETH</option>
                                        </select>
                                    </div>

                                    <div class="aside-form__container">
                                        <input type="text" class="aside-form__input form-control" formControlName="valueMax" [class.is-invalid]="valueMaxValid">
                                    </div>



                                    <div class="aside-form__text">to</div>


                                    <div class="aside-form__container">
                                        <input type="text" class="aside-form__input form-control" formControlName="valueMin" [class.is-valid]="valueMinValid">
                                    </div>

                                </div>

                                <div class="aside-form__btns">
                                    <button type="submit" class="aside-form__btn" [disabled]="!formPrices.valid">Apply</button>
                                </div>

                                <div class="container-error-message" *ngIf="valueMaxValid || valueMinValid">
                                    only numbers
                                </div>
                            </form>
                        </li>
                    </ul>
                </li>
            </ul>

        </div>
        <div class="collection__container container">

            <app-nft-card [collection]="collection" [routerLink]="['/collection/', i]" [index]="i" routerLinkActive="router-link-active" *ngFor="let collection of authCollection; let i =index"></app-nft-card>
        </div>
    </div>

</section>