<!-- ============= ARTICLE SECIION ============ -->

<div class="articles">
    <div class="articles__container container">
        <div class="article">
            <div class="article__box" *ngIf="post$ | async as post">

                <h1 class="article__h1">{{ post.fields.title }}</h1>
                <img [src]="post.fields.img.fields.file.url" class="article__img" alt="">
                <div class="article__author--img">
                    Photo: <span class="">{{ post.fields.author }}</span>
                </div>
                <div class="article__detail">
                    <span class="article__span">
                            <i class='article__i bx bx-calendar bx-icon'></i>
                            <p class="article__p--author">{{ post.fields.date | date: 'mediumDate' }}</p>
                    </span>

                    <span class="article__span">
                        <i class='article__i bx bxs-user bx-icon'></i>
                        <p class="article__p--author">{{ post.fields.author }}</p>
                    </span>
                </div>


                <div class="article__content">

                    <div class="article__p" [innerHtml]=" post.fields.content | markdown">

                    </div>

                </div>


                <!-- Shared article-->
                <div class="article__shared shared">
                    <ul class="shared__ul">
                        <li class="shared__li">
                            <a href="#" target="_blank" rel="nop" class="shared__a">
                                <i class='shared__i bx bxl-facebook bx-icon'></i>
                            </a>
                        </li>
                        <li class="shared__li">
                            <a href="#" target="_blank" rel="nop" class="shared__a">
                                <i class='shared__i bx bxl-pinterest-alt bx-icon'></i>
                            </a>
                        </li>
                        <li class="shared__li">
                            <a href="#" target="_blank" rel="nop" class="shared__a">
                                <i class='shared__i bx bxl-whatsapp bx-icon'></i>
                            </a>
                        </li>
                        <li class="shared__li">
                            <a href="#" target="_blank" rel="nop" class="shared__a">
                                <i class='shared__i bx bxl-twitter bx-icon'></i>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>


        </div>
        <!-- ASIDE -->
        <div class="aside">
            <!-- TOPICS -->
            <div class="topics">
                <h2 class="topics__h2">Topics</h2>

                <div class="topics__btn">
                    <div class="topics__icon">
                        <i class='topics__i bx bx-calendar'></i>
                    </div>
                    <p class="topics__p">Most popular</p>
                </div>

                <div class="topics__btn">
                    <div class="topics__icon">
                        <i class='topics__i bx bx-ghost'></i>
                    </div>
                    <p class="topics__p">NFT</p>
                </div>

                <div class="topics__btn">
                    <div class="topics__icon">
                        <i class='topics__i bx bx-coin-stack'></i>
                    </div>
                    <p class="topics__p">Criptocurrencies</p>
                </div>


            </div>
            <!-- TAGS -->
            <div class="tags">
                <h2 class="tags__h2">Tags</h2>

                <div class="tags__container">
                    <button class="tags__hashtag">#NFT</button>
                    <button class="tags__hashtag">#Ethereum</button>
                    <button class="tags__hashtag">#Cryptocurrency</button>
                    <button class="tags__hashtag">#Bitcoin</button>
                    <button class="tags__hashtag">#Tesla</button>
                    <button class="tags__hashtag">#MANA</button>
                    <button class="tags__hashtag">#Tether</button>
                    <button class="tags__hashtag">#USD coin</button>
                </div>
            </div>

            <!-- SOCIAL MEDIA -->
            <!-- <div class="follow">
                <h2 class="follow__h2">Our Social Media</h2>

                <div class="follow__container">
                    <p class="follow__p">
                        Don't forget to follow us on our social media
                    </p>

                    <ul class="follow__ul">
                        <li class="follow__li">
                            <a href="#" class="follow__a">
                                <i class="follow__i bx bxl-facebook"></i>
                            </a>
                        </li>

                        <li>
                            <a href="#" class="follow__a">
                                <i class='follow__i bx bxl-twitter'></i>
                            </a>
                        </li>

                        <li>
                            <a href="#" class="follow__a">
                                <i class='follow__i bx bxl-instagram-alt'></i>
                            </a>
                        </li>

                    </ul>
                </div>

            </div> -->
        </div>
    </div>

</div>