<!-- ============= ARTICLE SECIION ============ -->

<div class="articles">
    <div class="articles__container container">
        <div class="article">
            <div class="article__box">

                <h1 class="article__h1">{{article.title}}</h1>
                <img [src]="article.imgArticle" class="article__img" alt="">
                <div class="article__author--img">
                    Photo: <span class="">{{ article.author }}</span>
                </div>
                <div class="article__detail">
                    <span class="article__span">
                            <i class='article__i bx bx-calendar bx-icon'></i>
                            <p class="article__p--author">{{ article.date }}</p>
                    </span>

                    <span class="article__span">
                        <i class='article__i bx bxs-user bx-icon'></i>
                        <p class="article__p--author">{{ article.author }}</p>
                    </span>
                </div>


                <div class="article__content">

                    <p class="article__p">
                        How serious is the government getting about crypto? This month, President Biden signed an <a href="https://www.whitehouse.gov/briefing-room/statements-releases/2022/03/09/fact-sheet-president-biden-to-sign-executive-order-on-ensuring-responsible-innovation-in-digital-assets/"
                            rel="no-referrer" target="_blank">executive order</a> that raised the possibility of a central bank digital currency. And the next day — perhaps driving home the point about the tax implications of all this — <a href="https://www.irs.gov/compliance/criminal-investigation/founders-of-crypto-ico-sentenced-to-combined-8-years-in-prison-for-tax-evasion-after-raising-24-million-dollars-from-investors"
                            rel="no-referrer" target="_blank">the I.R.S.</a> announced that two owners of a cryptocurrency company were going to prison for a combined eight years for tax <a href="https://www.irs.gov/compliance/criminal-investigation/founders-of-crypto-ico-sentenced-to-combined-8-years-in-prison-for-tax-evasion-after-raising-24-million-dollars-from-investors"
                            rel="no-referrer" target="_blank">evasion</a>.
                    </p>

                    <p class="article__coment">
                        “Crypto actors,” a Texas federal prosecutor said, “are required to pay their fair share of taxes, just like everyone else.”
                    </p>
                </div>


                <!-- Shared article-->
                <div class="article__shared shared">
                    <ul class="shared__ul">
                        <li class="shared__li">
                            <a href="#" target="_blank" rel="nop" class="shared__a">
                                <i class='shared__i bx bxl-facebook bx-icon'></i>
                            </a>
                        </li>
                        <li class="shared__li">
                            <a href="#" target="_blank" rel="nop" class="shared__a">
                                <i class='shared__i bx bxl-pinterest-alt bx-icon'></i>
                            </a>
                        </li>
                        <li class="shared__li">
                            <a href="#" target="_blank" rel="nop" class="shared__a">
                                <i class='shared__i bx bxl-whatsapp bx-icon'></i>
                            </a>
                        </li>
                        <li class="shared__li">
                            <a href="#" target="_blank" rel="nop" class="shared__a">
                                <i class='shared__i bx bxl-twitter bx-icon'></i>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>


        </div>
        <!-- ASIDE -->
        <div class="aside">
            <!-- TOPICS -->
            <div class="topics">
                <h2 class="topics__h2">Topics</h2>

                <div class="topics__btn">
                    <div class="topics__icon">
                        <i class='topics__i bx bx-calendar'></i>
                    </div>
                    <p class="topics__p">Most popular</p>
                </div>

                <div class="topics__btn">
                    <div class="topics__icon">
                        <i class='topics__i bx bx-ghost'></i>
                    </div>
                    <p class="topics__p">NFT</p>
                </div>

                <div class="topics__btn">
                    <div class="topics__icon">
                        <i class='topics__i bx bx-coin-stack'></i>
                    </div>
                    <p class="topics__p">Criptocurrencies</p>
                </div>


            </div>
            <!-- TAGS -->
            <div class="tags">
                <h2 class="tags__h2">Tags</h2>

                <div class="tags__container">
                    <button class="tags__hashtag">#NFT</button>
                    <button class="tags__hashtag">#Ethereum</button>
                    <button class="tags__hashtag">#Cryptocurrency</button>
                    <button class="tags__hashtag">#Bitcoin</button>
                    <button class="tags__hashtag">#Tesla</button>
                    <button class="tags__hashtag">#MANA</button>
                    <button class="tags__hashtag">#Tether</button>
                    <button class="tags__hashtag">#USD coin</button>
                </div>
            </div>

            <!-- SOCIAL MEDIA -->
            <!-- <div class="follow">
                <h2 class="follow__h2">Our Social Media</h2>

                <div class="follow__container">
                    <p class="follow__p">
                        Don't forget to follow us on our social media
                    </p>

                    <ul class="follow__ul">
                        <li class="follow__li">
                            <a href="#" class="follow__a">
                                <i class="follow__i bx bxl-facebook"></i>
                            </a>
                        </li>

                        <li>
                            <a href="#" class="follow__a">
                                <i class='follow__i bx bxl-twitter'></i>
                            </a>
                        </li>

                        <li>
                            <a href="#" class="follow__a">
                                <i class='follow__i bx bxl-instagram-alt'></i>
                            </a>
                        </li>

                    </ul>
                </div>

            </div> -->
        </div>
    </div>

</div>