<footer class="footer">
    <div class="footer__container container">
        <div class="footer__sec footer__about">
            <h2 class="footer__h2">Cripto<span class="footer__h2--span">Recarga</span></h2>
            <p class="footer__p">We are the first company with a presence in Mexico, dedicated to the creation and sale of NFTS</p>
        </div>

        <div class="footer__sec help">
            <h2 class="footer__h2">Help</h2>
            <ul class="help__ul">
                <li class="help__li">
                    <i class='help__i bx bxs-help-circle'></i>
                    <a href="#" rel="noopener noreferrer" class="help__a" target="_blank">FAQS</a>
                </li>
            </ul>
        </div>

        <div class="footer__sec social">
            <h2 class="footer__h2">Our social media</h2>
            <p class="footer__p">Don't forget follow us on Social media</p>

            <ul class="social__ul">
                <li class="social__li">
                    <a href="https://www.facebook.com/recargas.electronicas.com.mx/" class="social__a" data-title="Facebook" aria-label="Facebook" rel="noopener noreferrer" target="_blank">
                        <i class="social__i bx bxl-facebook"></i>
                    </a>
                </li>

                <li class="social__li">
                    <a href="https://twitter.com/recargascelular" class="social__a" data-title="Twitter" aria-label="Twitter" target="_blank" rel="noopener no-referrer">
                        <i class="social__i bx bxl-twitter"></i>
                    </a>
                </li>

                <li class="social__li">
                    <a href="https://www.instagram.com/recargascelular/" class="social__a" data-title="Instagram" aria-label="Instagram" target="_blank" rel="no-referrer noopener">
                        <i class="social__i bx bxl-instagram"></i>
                    </a>
                </li>

                <li class="social__li">
                    <a href="https://www.youtube.com/channel/UCkhtvMXYh2g4POHlvrXNgVQ?view_as=subscriber" class="social__a" data-title="Youtube" aria-label="Youtube" target="_blank" rel="no-referrer noopener">
                        <i class="social__i bx bxl-youtube"></i>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</footer>