<!-- ============= CONTACT ============= -->
<section class="contact">
    <div class="contact__container container">

        <div class="contact__title wow animate__animated animate__fadeInUp">
            <h3 class="contact__sub-heading sub-heading">Get started to convert all your arts to NFT</h3>
            <h2 class="contact__h2">begin generate money </h2>
        </div>

        <div class="contact__content wow animate__animated animate__fadeInDown">

            <div class="contact__image wow animate__animated animate__fadeInUp">
                <img src="assets/img/Contact.webp" alt="">
            </div>

            <div class="contact__info">

                <span class="sub-heading">Contact Us</span>

                <h2 class="section__title">Easy to contact us</h2>

                <p class="contact__data">
                    Do you want created NFTS of all arts, albums, collections and you don't know how?, just contact us
                </p>


                <div class="contact-cards">
                    <div class="contact-card">
                        <div class="contact-info">
                            <i class='contact-info__i bx bxs-phone-call'></i>

                            <h3 class="contact-info__h3">
                                Call
                            </h3>
                        </div>
                        <p class="contact-card__p">
                            271-110-25-30
                        </p>
                        <a href="#" class="btn-default btn">Call now</a>
                    </div>

                    <div class="contact-card">
                        <div class="contact-info">
                            <i class='contact-info__i bx bxl-whatsapp'></i>

                            <h3 class="contact-info__h3">
                                whatsApp
                            </h3>

                        </div>
                        <p class="contact-card__p">
                            271-110-25-30
                        </p>
                        <a href="#" class="btn-default btn">Chat now</a>
                    </div>

                    <div class="contact-card">
                        <div class="contact-info">
                            <i class='contact-info__i bx bxs-paper-plane'></i>
                            <div>
                                <h3 class="contact-info__h3">
                                    Mail
                                </h3>
                            </div>
                        </div>
                        <p class="contact-card__p">
                            example@<br>outlook.es
                        </p>
                        <a href="#" class="btn-default btn">Send now</a>
                    </div>

                    <div class="contact-card">
                        <div class="contact-info">
                            <i class='contact-info__i bx bxs-message-rounded-dots'></i>
                            <div>
                                <h3 class="contact-info__h3">
                                    Chat
                                </h3>
                            </div>
                        </div>
                        <p class="contact-card__p">
                            example<br>@outlook.es
                        </p>
                        <a href="#" class="btn-default btn">Chat now</a>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>