<section class="collections">

    <div class="collections__banner container"></div>

    <div class="container">
        <h2 class="collections__title">Explore Collections</h2>

        <!-- <div class="search">
            <i class='search__i bx bx-search-alt-2'></i>
            <input class="search__input" type="text" (keyup.enter)="searchCollection(valueText.value)" #valueText>
            <label class="search__label">Search by collection, NFT or USER</label>
            <button (click)="searchCollection(valueText.value)" class="btn btn-default">Search</button>
        </div> -->

        <app-search (search)="handlerSearch($event)"></app-search>

        <ul class="collections__ul">
            <li class="collections__li">
                <a href="#" class="collections__a collections__a--active">All</a>
            </li>
            <li class="collections__li">
                <a href="#" class="collections__a">Art</a>
            </li>
            <li class="collections__li">
                <a href="#" class="collections__a">Collectibles</a>
            </li>
            <li class="collections__li">
                <a href="#" class="collections__a">Music</a>
            </li>
            <li class="collections__li">
                <a href="#" class="collections__a">Photography</a>
            </li>
            <li class="collections__li">
                <a href="#" class="collections__a">Sports</a>
            </li>
            <li class="collections__li">
                <a href="#" class="collections__a">Trading Card</a>
            </li>
        </ul>

        <div class="collection__container container">
            <app-nft-card [collection]="item" *ngFor="let item of data | search: valor_Filter"> </app-nft-card>
        </div>
    </div>
</section>