@use 'mixin';
.hero {
    &__container {
        text-align: center;
    }
    &__title {
        font-size: 2.25rem;
        margin: 0 0 15px;
        font-weight: 600;
        color: #FFF;
        font-family: 'Inter', sans-serif;
    }
    &__a,
    &__i,
    &__span {
        color: #FFF;
    }
    &__a {
        font-weight: 600;
        display: inline-block;
    }
    &__i {
        font-size: 1.5rem;
        margin: 0 8px;
        font-weight: 900;
        transform: translateY(5px);
    }
    &__span {
        font-weight: 600;
    }
}